main {
    width: 100%;
    padding: 28px;
}
main .finance-first {
    display: flex;
    justify-content: space-between;
}
.first-card ,.second-card , .third-card {
    height: auto;
    width: 567px;
    font-size: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10%;
    text-transform: capitalize;
    justify-content: space-evenly;
}
.form-container {
    /* max-width: 400px; */
    width: 97%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    /* display: none; */
    /* visibility: hidden; */
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #150152;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #150152;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}
.finance-tracker {
    width: 100%;
}
.grid-container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* width: 400px; */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    color: #150152;
}
 .heading {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    /* border: 1px solid #ddd; */
} 
.finance-second{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}