@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body , html {
    width: 100%;
    /* height: 100%; */
    height:auto;
    background-color: white;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 22px;
    gap: 18px;
}
.header {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    font-size: 1em;
    font-weight: 600;
    align-items: center;

}

button {
    background-color: #150152;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    margin-top: 32px;
}

.logos i{
    padding: 4px;
    border: 2px solid grey;
    border-radius: 50%;
    background-color: white;
}
.logos i:nth-child(1){
    padding-right: 7px;
    padding-left: 7px;
    z-index: 11;
}
.logos i:nth-child(2){
    margin-left: -10px;
    z-index: 1;
}
.middle-text p {
    font-size: 0.9em;
    /* font-weight: 600 */
    opacity: 0.7;
    margin-top: 10px;

}
.input-field{
    position: relative;
    /* align-items: center; */
  }
.input-field input{
     width: auto;
    height: auto;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 15px;
    /* border: none; */
    border: 2px solid rgba(128, 128, 128, 0.41);
}
.input-field label{
    /* font-size: 0.5em; */
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    display: none;
}
.reset {
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: underline;
}
  input:focus ~ label
  {
    top: 0;
    left: 15px;
    font-size: 10px;
    padding: 0 2px;
    background: white;
    display: block;
    outline: none;
  }
/* Desktop Media Query */
@media only screen and (min-width: 568px) {
    main {
        /* margin: 0;
         */
         max-width: 500px;
         height: auto;
         border: none;
         border-radius: 22px;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         padding: 16px;
         gap: 16px;
    }
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    /* Add more desktop-specific styles here */
}