@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body , html {
    width: 100%;
    height: 100%;
    display: flex;
}
body::-webkit-scrollbar{
    display: none;
}
main {
    width: 90%;
    height: auto;
    /* outline: 1px solid; */
}


header {
    width: 400px;
    height: auto;
    background-color: #333;
    color: white;
    padding: 26px;
    background-color: #150152;
    overflow: hidden;
}
/* nav {
    display: flex;

} */
#logotext {
    font-family: 'Laila', serif;
    font-size: 22px;
}
#logotext::first-letter{
    font-weight: 800;
}
#logotext:hover ,
.logo-icon:hover {
background-color: transparent;
}
.logo-icon {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
nav hr {
    height: 1px ;
    background-color: grey;
    opacity: 0.5;
}
header h5 {
    font-size: 12px;
    font-weight: 500;
}
nav li , nav span {
    text-transform: capitalize;
    padding: 4px 10px;
    border-radius: 8px;
    /* text-align: left; */
}
nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* justify-content: space-between; */
    color: white;
    opacity: 0.8;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* gap: 40px; */
    justify-content: space-between;
}

.logo span {
    margin-right: 5px;
}

nav h5 {
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
    list-style: none;
    /* outline: 1px solid; */
}
nav li:hover,
nav span:hover {
    background-color: rgba(128, 128, 128, 0.541);
    cursor: pointer;
}
nav li i , nav span i{
    margin-right: 8px; /* Set left margin to 6px */
    margin-left: 6px;
}
hr {
    border: 0;
    margin: 16px 0;
    /* height: 5px ; */
    background-color: grey;
    opacity: 0.5;
}